*{

    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: black;
    box-sizing: border-box;
    
}
/* pannal */


.panal{
    width :100%;
    height: 70pX;
    background-color: #93b7be;
    display: flex;
    justify-content: flex-start;
}
.panal-logo{

    background-image: url("logo.png");
    height: 60px;
    width: 60px;
    background-size: cover;
    position: relative;
    left: 10px;
    top: 5px;
}
.panal-webName{

    position: relative;
    height: 15px;
    color: #554348;
    font-family: "Cedarville Cursive", cursive;;
    width: 100px;
    top: 50px;
    left: 5px;
}
.panal-log_in{

    height: 70px;
    width: 100px;
    display: flex;
    position: absolute;
    right: 150px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
.panal-log_in:hover{

    background-color: #747578 ;
}
.panal-start{

    height: 70px;
    width: 150px;
    display: flex;
    position: absolute;
    right: 0px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: #d4f5f5;
    
}

.panal-start i,.panal-log_in i{

    padding-right: 10px;
}
.panal-start:hover{

    background-color:#daf8f8 ;
}
/* navabr  */
.navbar{
    display:flex;
    background: #747578;
    height: 75px;
    width: 100%;
    align-items: center;
    
}
.nav{
   
    display: flex;
    align-items: center;
    height: 75px;
    justify-content: center;
    text-align: center;
    width: 100px;
}
.nav i{
    margin-left: 5px;
}

.navbar-search{
    position: absolute;
    right: 0px;
    height: 75px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-search i{
    margin-right: 5px;
}

.nav:hover,.navbar-search:hover{

    background-color:  #93b7be;
}


.contant1{
    background-image: url("pic3.jpg");
    height: 600px;
    width: 100%;
    background-size: cover;
    /* position: absolute; */
}
.contant1-text{
    height: 320px;
    width: 800px;
    /* border: 2px solid pink; */
    
  
}
.contant1-text h2, .contant1 pre{
    position: relative;
    color: white;
    top: 134px;
    left: 75px;
}

.contant1-text h2{
    font-size: 50px;
}
.contant1-text pre{
    margin-top: 25px;
    font-size: 25px;
}
.contant1-btn button{
    height: 50px;
    width: 300px;
    background: transparent;
    border-radius: 30px;
    border: 2px solid white;
    position: absolute;
    color: white;
    font-size: 25px;
    bottom: 0px;
    left: 109px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    
}

.contant1-btn button :hover{
    text-decoration: underline;
}
#icon:hover{
    text-decoration: none;
}
.contant1-btn div{
    color: white;
}
.contant1-btn i{
    color: white;
    padding-right: 8px;
    font-size: 40px;
}
.contant2{
    background-color:#d4f5f5;
     height: 300px;
    width: 100%; 
    display: flex;
    /* position: relative; 
    top: 10px; */
    /* box-shadow: 5px 5px 2px 2px #6c6d72; */
}
.contant2-text{
    height: 300px;
    width: 500px;
}

.contant2-text h2 ,.contant2 pre{
    
    position: relative;
    color: #554348;
    top: 50px;
    left: 75px;
}
.contant2-text pre{
    margin-top: 25px;
    font-size: 25px;
    color: #747578;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.contant2-text h2{
    font-size: 50px;
}
.contant2-right{
    height: 300px;
    width: 700px;
    position: absolute;

    right:0px;
    display: flex;
    flex-wrap: wrap;
}
.contant2-box{
    height:60px;
    width: 250px;
    margin: 20px;
    /* background-color: orangered; */
  
    box-shadow: 3px 3px rgba(177, 175, 175, 0.644);
    border-radius: 30px;
    


}
.contant2-box:hover{
    border: 3px solid #554348; ;
}

#box1,#box2,#box5,#box6{
    position: relative;
        left: 120px;

}

.profile{
    position: relative;
    top: 2px;
    left: 8px;
    
    height: 50px;
    width: 50px;
    /* border: 2px solid black; */
    border-radius: 50%;

}
#profile1{
    background-image: url("profiles/prof1.jpeg");
    background-size: cover;
}
#profile2{
    background-image: url("profiles/prof2.jpeg");
    background-size: cover;
}
#profile3{
    background-image: url("profiles/prof3.jpeg");
    background-size: cover;
}
#profile4{
    background-image: url("profiles/prof4.jpeg");
    background-size: cover;
}
#profile5{
    background-image: url("profiles/prof5.jpeg");
    background-size: cover;
}
#profile6{
    background-image: url("profiles/prof6.jpeg");
    background-size: cover;
}

.profile div{
    
    width:108px;
    height: 30pxpx;
    color: #554348;;
    font-size: 18px;

    position:relative;
    left: 77px;
    top: 16px;
}

.contant3{
    height: 870px;
    width: 100%;
    background-color:  #93b7be;;
    display: flex;
    flex-direction: row;
}
.contant3-left h2 ,.contant3-left pre{
    
    position: relative;
    color: white;
    top: 50px;
    left: 75px;
}
.contant3-left pre{
    margin-top: 25px;
    font-size: 25px;
    /* color: #747578; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.contant3-left h2{
    font-size: 40px;
    color: #554348;
}
.contant-left-boxes{

    position: relative;
    top: 40px;
    left: 75px;
}

.contant3-left-box{
   
    height: 70px;
    width: 330px;
    margin-top: 40px;
    border-radius: 20px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    


}
.contant3-left-box:hover{
 border: 2px solid white;
}
#contant3-left-box{
 border: 2px solid white;
}

.contant3-left-box div{
    color: #747578;
    font-size: 20px;
}

.contant3-left-box i{
    margin-right: 10px;
    color: #747578;
    font-size: 25px;
}

.contant3-right{

    position: relative;
    top: 70px;
    left: 240px;
  
}

.contant3-right h2{
    font-size: 35px;
    color: #554348;
    margin-bottom: 10px;
}
.contant3-right pre{

    /* font-size: 25px; */
    /* padding-right:10px ; */
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

.contant3-right-screen{

    background-image: url("profiles/screen3.jpg");
    height: 400px;
    width: 700px;
    position: relative; 
  top: 40px;
    /* right: 200px; */ 
    border-radius: 15px;
    
    background-size: cover;
}

.contant3-right-screen:hover{
    height: 409px;
    width: 709px;
}

.contant3-right-boxes{

    display: flex;
    position: absolute;
    bottom:180px;
    height: 70px;
    width: 700px;
    flex-wrap: wrap;
}
.contant3-right-box{

    /* border: 2px solid orange; */
    
    height: 50px;
    width: 200px;
    margin: 0px 30px 30px 0px;
    background-color :   #aacbd1;
    color: #554348;
    border-radius:10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contant3-right-box:hover{

    background-color :   #c4e0e6;
}
.contant4{
    width: 100%;
    height: 450px;
    background-color:#d4f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contant4-text{
    /* border: 2px solid red; */
    text-align: center;

    height: 180px;
    width: 1000px;
}
.contant4-text h2{
    
    
    color: #554348;
    margin-bottom:10px ;
   
}
.contant4-text p{
    font-size: 20px;
    padding: 5px;
   color: #6d5d61;

}
.contant4-logo{

    background-image: url("profiles/logo2.jpg");
    height: 150px;
    width: 250px;
    background-size: cover;
    border-radius: 10px;
}

.contant5{
    width: 100%;
    height: 450px;
    background-color:#817c7d;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.contant5-text{
    /* border: 2px solid red; */
    text-align: center;

    height: 100px;
    width: 500px;
    /* position: relative;
    top:50px; */
}


.contant5-text h2{
    color: #eeeeee;
    
    font-size: 30px;
    
   
   
} 

.contant5-button{

    position: relative;
    height: 60px;
    width: 320px;
    background-color: #baf5f5;
    top:40px;
    font-size: 28px;
    border: 2px solid transparent;
    border-radius: 5px;
    

}
.contant5-button:hover{
    height: 62px;
    width: 322px;
    background-color: #c7f1f1;

}
.contant5-button i{

    margin-right: 35px;
}

.foot1{

    height: 360px;
    width: 100%;
    background-color: #747578; 
    display: flex;
}

.foot1-left{
    /* border: 2px solid orange; */
    width: 30%;
height: 200px;
position: relative;
top: 60px;
left: 90px;

}

.foot1-left h2{
 
        font-size: 30px;
        color: white;
        /* margin-bottom: 10px; */
    
}
.foot1-left-button{

    position: relative;
    height: 60px;
    width: 320px;
    background-color: #baf5f5;
    top:40px;
    font-size: 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    

}
.foot1-left-button:hover{
    height: 65px;
    width: 325px;
    background-color:#c7f1f1;

}
.foot1-left-button i{

    margin-right: 35px;
}

.foot1-right{

    
    /* border: 2px solid black; */
    height: 350px;
    width: 50%;
    position: relative;
    top: 60px;
    left: 300px;
    color: white;
    
 

}
.foot1-right h2{
    font-size: 30px;
    color: white;
}
.foot1-right p{
    /* height: 10px; */
    display: inline-block;
    width: 300px;
    margin: 5px 10px 10px 10px;
    color: white;
    

}

.foot2{
    height: 360px;
    width: 100%;
    background-color:#93b7be;
    display: flex;
}
.foot2 div{
    height: 280px;

    width: 300px;
    padding: 10px;
    margin: 10px;
    position: relative;
    top: 50px;
  
    

}
.foot2  h2{
    font-size: 20px;
    color: black;
}
.foot2  p{
    
    margin: 5px 10px 10px 0px;
    color:#554348;
    

}
.foot2  p:hover{
    text-decoration: underline;
}

#foot2-box-right{

    /* border: 2px solid green; */
    margin-left: 40px;
    height: 200px;
    display: flex;
    flex-direction: row;
}
#foot2-box-right div{
    background-image: url(logo.png);
    /* border: 2px solid orange; */
    height: 98px;
    width: 100px;
    background-size: cover;
     position: relative; 
    top: 0px;
    right: 0px; 
}
#foot2-box-right span{
    position: relative;
    bottom: 3px;
    align-self: center;
    left: -18px;
    bottom: -9px;
    color:#554348; ;
}


